<div (click)="redirectToHome()" class="logo">
  <img src="assets/images/logo-alb.png" alt="" />
</div>
<div id="auth-btns">
  <a *ngIf="currentUser?.role == 0" (click)="goToRegister()" id="log-out-btn"> Register User </a>
  <a *ngIf="!currentUser" (click)="goToLogIn()" id="log-out-btn"> Log in </a>
  <a *ngIf="currentUser" (click)="logOut()" id="log-out-btn"> Log out </a>
</div>

<ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
  <li nz-menu-item nzMatchRouter [nzDisabled]="currentUser ? false : true">
    <a [routerLink]="['/', 'home']"><i nz-icon nzType="home" nzTheme="outline"></i>Home</a>
  </li>

  <li nz-submenu nzTitle="3D Representation" nzIcon="caret-down" [nzDisabled]="currentUser ? false : true">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'three', 'ply']">NII8</a>
      </li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['/', 'three', 'nii3']">NII3</a></li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['/', 'three', 'ghiozdan']">NII1</a></li>
    </ul>
  </li>

  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', 'contact']"><i nz-icon nzType="mail" nzTheme="outline"></i>Contact</a>
  </li>
</ul>
