.logo img {
  width: 67px;
  height: 64px;
  margin: 0 35px 0 -12px;
  float: left;
  cursor: pointer;
}

.header-menu {
  line-height: 64px;
}

#auth-btns {
  float: right;
  font-weight: bold;

  a {
    color: #fafaffd3;
    margin: 0 10px;

    &:hover,
    :focus {
      color: #fafaff;
    }
  }
}
