.logo img{
  width: 67px;
  height: 64px;
  margin: 0 35px 0 -12px;
  float: left;
  cursor: pointer;
}

.header-menu {
  line-height: 64px;
}

#log-out-btn {
  float: right;
  font-weight: bold;
  color: #fafaff;

  &:hover,:focus{
    color: #c2c2ff;
  }
}
