<div id="login-icon-container">
  <i nz-icon nzType="login" nzTheme="outline" id="login-icon"></i>
</div>

<form
  nz-form
  [formGroup]="loginForm"
  class="login-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-control>
      <label>Email</label>
      <app-validation-message
        [controlName]="'email'"
        [control]="loginForm.controls['email']"
      ></app-validation-message>
      <input
        nz-input
        type="text"
        formControlName="email"
        nzSize="large"
        placeholder="Email"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <label>Password</label>
      <app-validation-message
        [controlName]="'password'"
        [control]="loginForm.controls['password']"
      ></app-validation-message>
      <input
        nz-input
        type="password"
        formControlName="password"
        nzSize="large"
        placeholder="Password"
      />
    </nz-form-control>
  </nz-form-item>
  <button nz-button id="login-btn" nzSize="large" [nzType]="'primary'">
    Log in
  </button>
  Or <a (click)="redirectToRegister()"> register now! </a>
</form>
