#canvas-container-ghiozdan {
  width: 100%;
  height: calc(100vh - 136px);
  position: relative;
}

@media only screen and (max-width: 1400px) and (min-width: 900px) {
  #canvas-container-ghiozdan {
    height: calc(100vh - 112px);
  }
}
