

.inner-layout {
  padding: 0 24px 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 100%;
}

#sub-body{
    min-height: 100%;
}

@media only screen and (min-width: 1024px) {
  .inner-layout {
    margin: 0 4rem;
  }
}
