.inner-layout {
  padding: 0;
}

nz-content {
  background: #fff;
  min-height: 100%;
}

nz-header{
  padding: 0;
}

#sub-body{
    min-height: 100%;
}

@media only screen and (min-width: 1400px) {
  .inner-layout {
    padding: 24px 4rem;
  }

  nz-header{
    padding: 0 4rem;
  }

  nz-content {
    padding: 24px;
  }
}


@media only screen and (max-width: 1400px) and (min-width: 900px) {
  .inner-layout {
    padding: 12px;
  }

  nz-header{
    padding: 0 12px;
  }

  nz-content {
    padding: 12px;
  }
}
