<div id="register-icon-container">
  <i nz-icon nzType="user-add" nzTheme="outline" id="register-icon"></i>
</div>
<form
  nz-form
  [formGroup]="registerForm"
  (ngSubmit)="submitForm()"
  id="register-form"
>
  <nz-form-item>
    <nz-form-control>
      <label>First name</label>
      <app-validation-message
        [controlName]="'firstName'"
        [control]="registerForm.controls['firstName']"
      ></app-validation-message>
      <input
        nz-input
        nzSize="large"
        id="firstName"
        formControlName="firstName"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <label>Last name</label>
      <app-validation-message
        [controlName]="'lastName'"
        [control]="registerForm.controls['lastName']"
      ></app-validation-message>
      <input nz-input nzSize="large" id="lastName" formControlName="lastName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <label>E-mail</label>
      <app-validation-message
        [controlName]="'email'"
        [control]="registerForm.controls['email']"
      ></app-validation-message>
      <input nz-input nzSize="large" formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <label>Password</label>
      <app-validation-message
        [controlName]="'password'"
        [control]="registerForm.controls['password']"
      ></app-validation-message>
      <input
        nz-input
        type="password"
        id="password"
        nzSize="large"
        formControlName="password"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <label>Confirm Password</label>
      <app-validation-message
        [controlName]="'checkPassword'"
        [control]="registerForm.controls['checkPassword']"
      ></app-validation-message>
      <input
        nz-input
        type="password"
        nzSize="large"
        formControlName="checkPassword"
        id="checkPassword"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control>
      <button nz-button nzType="primary" nzSize="large" id="register-btn">
        Register
      </button>
      Aready have an account <a (click)="redirectToLogin()"> log in! </a>
    </nz-form-control>
  </nz-form-item>
</form>
