#home-dashboard-container{
  width: 100%;
  height:  calc(100vh - 64px);
  position: relative;
}

app-welcome-text{
  position: relative;
  height: 100%;
  width: 100%;
}

app-room-selector{
  display: none;
}

@media only screen and (min-width: 1400px) {
  #home-dashboard-container{
    height:  calc(100vh - 48px - 24px - 64px);
  }
}


@media only screen and (max-width: 1400px) and (min-width: 900px) {
  #home-dashboard-container{
    height:  calc(100vh - 24px - 24px - 64px);
  }
}