<div id="hud-container" [ngClass]="{ enlarge: hideHud === false }">
  <i nz-icon [nzType]="hideHud ? 'right' : 'left'" (click)="changeHudDisplay()" nzTheme="outline">
  </i>

  <div *ngIf="!hideHud">
    <div id="title">Select a unit to be displayed:</div>

    <div *ngFor="let hudPart of hudInformation;let index = index" class="radio-group-container">
      <div class="full-width">
        <div class="subtitle">{{hudPart.title}}</div>
        <nz-radio-group [(ngModel)]="selectedUnit[index]"
          (ngModelChange)="radioButtonSelection(hudPart.buttons[$event-1].id,index)" class="radio-group">
          <label *ngFor="let buton of hudPart.buttons;let i = index" nz-radio-button
            [nzValue]="i+1">{{buton.title}}</label>
        </nz-radio-group>
      </div>
    </div>
  </div>
</div>
